#admin-panel-heading{
    font-size: 26px;
    margin-bottom: 10px;
    color: #c7232f;
}

nav.admin-panel {
    width: 100%;
    display: grid;
    gap: 2px;
    margin-bottom: 20px;
}

nav .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.admin-panel a {
    text-decoration: none;
    color: #000;
    transition: 0.3s;
}

nav.admin-panel .item {
    grid: 1;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: gainsboro;
    color: #000;
    transition: 0.3s;
}

nav.admin-panel .item:hover {
    outline: 1px solid #c7232f;
    cursor: pointer;
}

nav.admin-panel .item:hover a {
    color: #000;
}

@media only screen and (min-width: 601px) {
    nav.admin-panel {
        grid-template-areas: "item1 item2 item3"
                             "item4 item5 item6";
        grid-template-columns: 1fr 1fr 1fr;
    }
}