.admin {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.admin .admin-table table {
    width: 100%;
    border-collapse: collapse;
}

.admin .admin-table table th {
    height: 50px;
}


.admin .add-new {
    width: 100%;
    height: 100%;
    display: flex;    
    justify-content: space-between;
}

.admin button {
    text-align: center;
    font-size: 20px;
}

.admin table th,
.admin table td {
    border: 1px solid #b4bed5;
    text-align: center;
}

    .admin .admin-table {
        width: 100%;
        display: flex;
        justify-content: right;
    }

    .admin .admin-table table {
        width: 100%;
    }


    .admin .admin-table .wrapper a {
        font-size: 16px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }

    .admin .admin-table .wrapper a:hover {
        color: #fff;
    }

    .admin .admin-table .wrapper div.heading {
        font-size: 30px;
        color: #304068;
    }

    .admin .admin-table table tr {
        height: 50px;
    }

    .admin table img {
        width: 120px;
        height: 120px;
    }
