@page
@using e_shop.Enums
@{
	CheckoutState state = this.ViewBag.CheckoutState;

	string GetClass(CheckoutState f, CheckoutState a)
	{
		return f == a ? "actual" : f > a ? "next" : "previous";
	}
}

<div class="checkout-route">
	<span class="cart @GetClass(CheckoutState.CART, state)">
		Košík
	</span>
	<span>></span>
	<span class="@GetClass(CheckoutState.INFORMATION, state)">
		Údaje
	</span>
	<span>></span>
	<span class="@GetClass(CheckoutState.SHIPPING, state)">
		Doprava
	</span>
	<span>></span>
	<span class="@GetClass(CheckoutState.PAYMENT, state)">
		Platba
	</span>
</div>
