 <div class="email-form">

        <div class="first">
            Nezmeškejte nové a výhodné akce
        </div>
        <div class="second">
            Zadejte svůj e-mailem a obratem vám zašleme PDF s inspirací zdarma.
        </div>

        <div class="input">

            <form action="newsletter.php">
                <div>
                    <input class="email" type="email" name="" id="" placeholder="Zadejte svůj email...">
                </div>
                <div>
                    <button class="my-button" type="submit">přihlásit</button>
                </div>
            </form>

        </div>

    </div>