<div class="features">
            <div class="feature feature1">
                <div class="picture">
                    <img src="~/images/img/Group 195.png" alt="">
                </div>
                <div class="text">
                    Vše máme skladem
                </div>
            </div>

            <div class="feature feature2">
                <div class="picture">
                    <img src="~/images/img/Group 196.png" alt="">
                </div>
                <div class="text">
                    Doprava zdarma
                </div>
            </div>

            <div class="feature feature3">
                <div class="picture">
                    <img src="~/images/img/Group 293.png" alt="">
                </div>
                <div class="text">
                    jak měřit velikosti
                </div>
            </div>
</div>