<link rel="stylesheet" href="~/css/admin/detail-form.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/shared/rating.css" asp-append-version="true" />

<div class="variants-detail-from-wrapper">
	
	<div class="feedback-detail-wrapper">
		<div class="heading">
			<h1>Hodnocení</h1>
		</div>
		<div class="product">
			<div>
				<label>Produkt:</label>			
			</div>
			<div>
				<label>Sexy papuče na spaní</label>			
			</div>
		</div>
		<div class="rating-picture">
			<label for="color">Fotka:</label>
			<img src="~/images/img2/10e0f753-ec99-11eb-9461-02420a000b04.png"/>
		</div>
		<div>
			<div>
				<label for="price">Hodnocení:</label>
			</div>
			<div class="rate">
				<input type="radio" id="star5" name="rate" value="5" />
				<label for="star5" title="text">5 stars</label>
				<input type="radio" id="star4" name="rate" value="4" />
				<label for="star4" title="text">4 stars</label>
				<input type="radio" id="star3" name="rate" value="3" />
				<label for="star3" title="text">3 stars</label>
				<input type="radio" id="star2" name="rate" value="2" />
				<label for="star2" title="text">2 stars</label>
				<input type="radio" id="star1" name="rate" value="1" />
				<label for="star1" title="text">1 star</label>
			</div>
		</div>
		<div>
			<div>
				<label for="tax">Popis:</label>
			</div>
			<div>
				<p>OBOOBOBOBOBBOBOBOBOBOBOBOBOOBOBOBOBBOBOBOBOBOBOBOBOOBOBOBOBBOBOBOBOBOBOBOBOOBOBOBOBBOBOBOBOBOBOB</p>
			</div>
		</div>		

		<div class="form-buttons">
		  <button class="btn btn-secondary" type="submit">Zpět</button>
		  <a class="btn btn-danger">Odstranit</a>
		</div>
	</div>

</div>						