
<div id="admin-panel-heading">
    Panel pro správu
</div>
<nav class="admin-panel">

    <div class="item item1">
        <a asp-controller="AdminProducts" asp-action="Index">
            <div class="wrapper">
                <div>
                    Produkty 
                </div> 
            </div> 
        </a>
    </div>
    <div class="item item2">
        <a asp-controller="AdminOrders" asp-action="Index">
            <div class="wrapper">
                <div>
                    Objednávky 
                </div>
            </div> 
        </a>
    </div>    
    <div class="item item3">
        <a asp-controller="AdminCategories" asp-action="Index">
            <div class="wrapper">
                <div>
                    Kategorie
                </div> 
            </div>
        </a> 
    </div>
    <div class="item item4">
        <a asp-controller="AdminColors" asp-action="Index">
            <div class="wrapper">
                <div>
                    Barvy
                </div> 
            </div>
        </a> 
    </div>
    <div class="item item5">
        <a asp-controller="AdminSizes" asp-action="Index">
            <div class="wrapper">
                <div>
                    Velikosti
                </div> 
            </div>
        </a> 
    </div>
    <div class="item item6">
        <a asp-controller="AdminFeedback" asp-action="Index">
            <div class="wrapper">
                <div>
                    Zpětná vazba
                </div> 
            </div>
        </a> 
    </div>

</nav>